body {
  h1 {
    color: blue;
    text-align: center;
  }

  .wrapper {
    margin-bottom: 5rem;
  }

  main {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
